@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Future home of BPM AMTAE LLC. a joint venture between BPM BI INC. & AMTAE Solutions LLC.</p>
</div>
